/*=================================================================================*/
/*=================================================================================*/
/*=================================================================================*/
/*==========================||---------------------------||========================*/
/*==========================|| Developed By Hossam Hilal ||========================*/
/*==========================||---------------------------||========================*/
/*====================================||------||===================================*/
/*====================================|| 2020 ||===================================*/
/*====================================||------||===================================*/
/*=================================================================================*/
/*=================================================================================*/

:root {
    --white: #fff;
    --mainColor: #FF445C;
    --mainColorDark: #D6273E;
    --secondColor: #fe9801;
    --opacityColor: #FFEBEE;
    --textDark: #484848;
    --text: #929292;

    --green: #1dcc1d;
    --blue: #0084ff;

    --greyLight: rgb(221, 221, 221, .25);
    --grey: #DDDDDD;

    --border: 1px solid #F3F3F3;
    --border2: 1px solid #F2F2F2;
    --border3: 1px solid #F84158;

    --shadow: 0px 0px 25px #A2A2A229;
    --shadow2: 0px 0px 31px #E9E9E930;
    --shadow3: 0px 0px 46px #F841584D;
    --shadow4: 0px 10px 40px #CCCCCC47;
    --shadow5: 0px 0px 16px #8D8D8D17;
    --shadow6: 0px 0px 16px #F6A93B17;

    --grident: transparent linear-gradient(291deg, #FF426C 0%, #FF4455 100%) 0% 0% no-repeat padding-box;
}


@font-face {
    font-family: Fairuz;
    src: url('../fonts/Fairuz-Black.eot');
    src: url('../fonts/Fairuz-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Fairuz-Black.woff2') format('woff2'),
        url('../fonts/Fairuz-Black.woff') format('woff'),
        url('../fonts/Fairuz-Black.ttf') format('truetype'),
        url('../fonts/Fairuz-Black.svg#Fairuz-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Fairuz;
    src: url('../fonts/Fairuz-Bold.eot');
    src: url('../fonts/Fairuz-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Fairuz-Bold.woff2') format('woff2'),
        url('../fonts/Fairuz-Bold.woff') format('woff'),
        url('../fonts/Fairuz-Bold.ttf') format('truetype'),
        url('../fonts/Fairuz-Bold.svg#Fairuz-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Fairuz;
    src: url('../fonts/Fairuz-Normal.eot');
    src: url('../fonts/Fairuz-Normal.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Fairuz-Normal.woff2') format('woff2'),
        url('../fonts/Fairuz-Normal.woff') format('woff'),
        url('../fonts/Fairuz-Normal.ttf') format('truetype'),
        url('../fonts/Fairuz-Normal.svg#Fairuz-Normal') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*==========================||---------------------------||========================*/
/*==========================||             Basic         ||========================*/
/*==========================||---------------------------||========================*/

body {
    font-family: Fairuz, sans-serif;
    overflow-x: hidden;
    direction: rtl;
    text-align: right;
}

a {
    text-decoration: none !important;
}

p {
    color: var(--text);
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: var(#968AB2);
    z-index: -1;
    position: relative;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: var(#968AB2);
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: var(--darkBlue);
    max-height: 50px;
}

button {
    border: 0;
}

/*==========================||---------------------------||========================*/
/*==========================||           Buttons         ||========================*/
/*==========================||---------------------------||========================*/

.darkBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 45px;
    background: var(--mainColorDark);
    color: var(--white);
    padding: 5px 20px;
    font-size: 14px;
    transition: all .4s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.darkBtn i {
    margin: 0 20px 0 0;
    transition: all .4s ease-in-out;
    display: inline-block;
}

.darkBtn:hover {
    color: var(--white);
}

.darkBtn:hover i {
    transform: translateX(-500%);
}

.darkBtn:hover span {
    transform: translateX(-13px);
    transition: all .4s ease-in-out;
}

.whiteBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    padding: 13px 20px;
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: var(--mainColor);
    position: relative;
    overflow: hidden;
    transition: all .4s ease-in-out;
}

.whiteBtn::before {
    content: '';
    position: absolute;
    bottom: -21px;
    right: calc(50% - 15px);
    left: calc(50% - 15px);
    background: var(--opacityColor);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all .1s ease-in-out;
}

.whiteBtn span {
    position: relative;
    z-index: 1;
}

.whiteBtn:hover {
    color: var(--mainColor);
}

.whiteBtn:hover::before {
    width: 400px;
    height: 400px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
}

.redBtn {
    background: var(--mainColor);
    min-width: 120px;
    color: var(--white);
}

.redBtn::before {
    bottom: -23px;
}


/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/

header {
    background: var(--grident);
    overflow: hidden;
}

header::before {
    content: url('../images/dotsLeft.png');
    position: absolute;
    top: 110px;
    left: calc(50% - 56px);
}

header::after {
    content: url('../images/dotsRight.png');
    position: absolute;
    left: 5%;
    bottom: 370px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.logo {
    max-width: 100px;
}

.navMenu>ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navMenu a {
    color: var(--white);
    font-size: 14px;
    margin: 0 20px;
    font-weight: bold;
    position: relative;
}

.navMenu a::after {
    content: '';
    background: var(--white);
    width: 0;
    height: 1px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 3px;
    transition: all .4s ease-in-out;
}

.navMenu a:hover::after,
.navMenu .active a::after {
    width: 100%;
}

.navIcons {
    display: flex;
    align-items: center;
}

.theme {
    margin: 0 15px;
}

.theme span {
    margin: 0 5px;
    cursor: pointer;
    color: var(--white);
    display: inline-block;
    transition: all .4s ease-in-out;
}

.theme span:hover {
    transform: scale(1.2);
}

.language {
    background: var(--white);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    width: 65px;
}

.language a {
    background: var(--grey);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    font-size: 11px;
    font-weight: bold;
    transition: all .4s ease-in-out;
}

.language a:hover,
.language .active {
    background: var(--mainColor);
    color: var(--white);
}

.headerData {
    padding: 40px 0 0 0;
    color: var(--white);
}

.headerDeatils h1 {
    font-size: 47px;
    line-height: 80px;
    font-weight: bold;
}

.headerDeatils p {
    color: inherit;
    letter-spacing: 0.21px;
    font-size: 14px;
    line-height: 30px;
}

.flexButtons {
    margin: 30px 0 20px;
    display: flex;
    align-items: center;
}

.flexButtons .darkBtn {
    margin: 0 0 0 30px;
}

.watchVideo {
    display: block;
    position: relative;
}

.watchVideo img {
    margin: 0 0 0 12px;
}

.watchVideo:hover {
    color: var(--white);
}

.watchVideo::before,
.watchVideo::after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--white);
}

.watchVideo::before {
    left: 50%;
    top: 0;
    transition-duration: 0.4s;
}

.watchVideo::after {
    left: 50%;
    bottom: 0;
    transition-duration: 0.4s;
}

.watchVideo:hover::before,
.watchVideo:hover::after {
    width: 100%;
    left: 0;
}

.watchVideoInner {
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 14px;
    font-weight: bold;
    height: 45px;
    padding: 0 20px;
}

.watchVideoInner::before,
.watchVideoInner::after {
    content: "";
    width: 1px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--white);
    ;
}

.watchVideoInner::before {
    left: 0;
    top: 50%;
    transition-duration: 0.4s;
}

.watchVideoInner::after {
    right: 0;
    top: 50%;
    transition-duration: 0.4s;
}

.watchVideo:hover .watchVideoInner::before,
.watchVideo:hover .watchVideoInner::after {
    height: 100%;
    top: 0;
}

.scrollDown {
    display: flex;
    align-items: center;
    margin: 60px 0;
}

.scrollDownBtn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.scrollDownBtn img {
    -webkit-animation: scrollDown 2s infinite;
    animation: scrollDown 2s infinite;
}

.scrollDownBtn img:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.scrollDownBtn img:nth-of-type(2) {
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

@-webkit-keyframes scrollDown {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes scrollDown {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/*==========================||---------------------------||========================*/
/*==========================||          container        ||========================*/
/*==========================||---------------------------||========================*/

@media (min-width:1300px) {
    .container {
        max-width: 1250px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           About           ||========================*/
/*==========================||---------------------------||========================*/

.about {
    overflow: hidden;
}

.secPadding {
    padding: 50px 0;
}

.secHead {
    text-align: center;
    max-width: 550px;
    margin: 0 auto 40px;
}

.secHead h2 {
    font-size: 45px;
    line-height: 77px;
    font-weight: bold;
    margin: 0;
    position: relative;
    width: fit-content;
    margin: auto;
    color: var(--textDark);
}

.secHead h2::before,
.secHead h2::after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 3px;
    opacity: .2;
    border-radius: 50%;
}

.secHead h2::before {
    background: var(--mainColor);
    top: 16px;
    right: -13px;
}

.secHead h2::after {
    background: var(--secondColor);
    margin-top: 5px;
    left: -13px;
    bottom: 12px;
}

.secHead p {
    font-size: 16px;
    line-height: 35px;
}

.aboutContent h3 {
    color: var(--textDark);
    font-size: 30px;
    line-height: 55px;
    font-weight: bold;
}

.aboutContent p {
    letter-spacing: 0.24px;
    font-size: 16px;
    line-height: 28px;
}

.aboutBlock {
    margin: 20px 0 0 0;
    cursor: pointer;
}

.aboutBlock h4 {
    display: flex;
    align-items: center;
    letter-spacing: 0.52px;
    font-size: 20px;
    font-weight: bold;
}

.aboutBlock h5 {
    color: var(--text);
    font-size: 14px;
    line-height: 24px;
}

.aboutBlock .aboutIcon {
    width: 35px;
    height: 35px;
    padding: 5px;
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    background: var(--opacityColor);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in-out;
}

.aboutBlock span {
    margin: 0 12px;
}

.aboutBlock:hover .aboutIcon {
    background: var(--mainColor);
}

.aboutBlock:hover img {
    filter: brightness(0) invert(1);
}

/*==========================||---------------------------||========================*/
/*==========================||          Services         ||========================*/
/*==========================||---------------------------||========================*/

.services {
    overflow: hidden;
}

.basicHead {
    max-width: 550px;
    margin-bottom: 40px;
}

.basicHead h2 {
    font-size: 40px;
    line-height: 70px;
    font-weight: bold;
    color: var(--textDark);
    position: relative;
    margin-bottom: 15px;
}

.basicHead h2::before {
    content: '';
    width: 50px;
    height: 6px;
    background: var(--mainColor);
    position: absolute;
    top: 100%;
    margin-top: -5px;
    border-radius: 3px;
}

.basicHead h2::after {
    content: '';
    width: 150px;
    height: 3px;
    background: var(--greyLight);
    display: block;
}

.basicHead p {
    font-size: 14px;
    line-height: 25px;
}

.service {
    position: relative;
    border: var(--border);
    border-radius: 5px;
    box-shadow: var(--shadow2);
    padding: 30px 25px 20px;
    transition: all .5s ease-in-out;
}

.serviceIcon {
    margin-bottom: 8px;
    position: relative;
}

.serviceIcon::before {
    content: '';
    width: 54px;
    height: 54px;
    background: var(--opacityColor);
    border-radius: 50%;
    z-index: 0;
    position: absolute;
    top: -15px;
    right: -15px;
}

.serviceIconBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 54px;
    height: 54px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    background: var(--mainColor);
    transition: all .4s ease-in-out;
    overflow: hidden;
    position: relative;
}

.serviceIconBox img {
    max-width: 30px;
    margin: auto;
    transition: all .3s ease-in-out;
}

.serviceIconBox .redImage {
    transform: translateY(30px);
}

.serviceIconBox .whiteImage {
    transform: translateY(12px);
}

.serviceFloatImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    transform: scale(.5);
    transition: all .3s ease-in-out;
}

.service h3 {
    letter-spacing: 0.52px;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    margin: 0;
}

.service p {
    font-size: 13px;
    line-height: 22px;
}

.service:hover {
    background: var(--mainColor);
    box-shadow: var(--shadow3);
}

.service:hover .serviceIconBox {
    background: var(--white);
}

.service:hover .serviceIconBox .whiteImage {
    transform: translateY(-20px);
}

.service:hover .serviceIconBox .redImage {
    transform: translateY(-10px);
}

.service:hover .serviceFloatImage {
    transform: scale(1);
}

.service:hover h3 {
    color: var(--white);
}

.service:hover p {
    color: var(--white);
}

.arrowlink {
    font-size: 35px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 0;
    color: var(--grey);
    cursor: pointer;
    transition: all .4s ease-in-out;
    border: 1px solid transparent;
    border-radius: 50%;
}

.arrowlink:hover {
    color: var(--white);
    border-top-color: var(--white);
    border-right-color: var(--white);
    border-bottom-color: var(--white);
    border-left-color: var(--white);
    transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s, border-left-color 0.15s linear 0.30s;
}

.testimonialNav .owl-nav,
.owlNav .owl-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    width: 100%;
}

.testimonialNav .owl-nav>div,
.owlNav .owl-nav>div {
    background: var(--white);
    color: var(--mainColor);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    border-radius: 25px;
    margin: 0px 20px;
    position: relative;
    box-shadow: var(--shadow3);
    cursor: pointer;
}

.testimonialNav .owl-nav>div i,
.owlNav .owl-nav>div i {
    position: relative;
    z-index: 1;
}

.testimonialNav .owl-prev::before,
.owlNav .owl-prev::before {
    content: "";
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 23px solid var(--white);
    position: absolute;
    left: 100%;
    margin-left: -11px;
}

.testimonialNav .owl-next::after,
.owlNav .owl-next::after {
    content: "";
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 23px solid var(--white);
    position: absolute;
    right: 100%;
    margin-right: -11px;
}

.testimonialNav .owl-nav>div:hover,
.owlNav .owl-nav>div:hover {
    background: var(--mainColor);
    color: var(--white);
}

.testimonialNav .owl-prev:hover::before,
.owlNav .owl-prev:hover::before {
    border-left-color: var(--mainColor);
}

.testimonialNav .owl-next:hover::after,
.owlNav .owl-next:hover::after {
    border-right-color: var(--mainColor);
}


@media (min-width:1300px) {
    .services .container {
        max-width: 100%;
        padding: 0 10% 0 15px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           Counts          ||========================*/
/*==========================||---------------------------||========================*/

.counts {
    background: url('../images/bg-count.png') no-repeat;
    background-size: cover;
    padding: 40px 0;
    color: var(--white);
    text-align: center;
    overflow: hidden;
}

.counts .col-6 {
    position: relative;
}

.counts .col-6:not(:last-of-type)::after {
    content: '';
    width: 2px;
    height: 60px;
    background: var(--white);
    position: absolute;
    top: calc(50% - 30px);
    left: -7px;
    opacity: .4;
}


.countIcon {
    width: 70px;
    height: 70px;
    border: 2px solid var(--secondColor);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
    position: relative;
}

.countIcon::before {
    content: url('../images/count-circle.png');
    width: 84px;
    height: 84px;
    position: absolute;
    animation: spin 10s infinite linear;
}

.count h3 {
    letter-spacing: 0.86px;
    font-size: 30px;
    line-height: 66px;
    margin: 0;
    font-weight: bold;
}

.count h4 {
    letter-spacing: 0.36px;
    font-size: 14px;
}

@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

/*==========================||---------------------------||========================*/
/*==========================||          Projects         ||========================*/
/*==========================||---------------------------||========================*/

.projects {
    position: relative;
    overflow: hidden;
}

.projects::before,
.projects::after {
    content: url('../images/dotsProjects.png');
    position: absolute;
    z-index: -1;
}

.projects::after {
    left: 4%;
    bottom: 45px;
}

.projects::before {
    top: 35%;
    right: 5%;
}

.filterList {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.filterTab {
    color: var(--text);
    font-size: 15px;
    line-height: 31px;
    margin: 0 0 0 25px;
    padding: 5px 10px;
    min-width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}

.filterTab:hover {
    color: var(--mainColor);
}

.filterTab.active:hover,
.filterTab.active {
    background: var(--mainColor);
    color: var(--white);
}

.filterTab:before,
.filterTab:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.filterTab:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, var(--mainColor) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--mainColor) 20%, transparent 30%), radial-gradient(circle, var(--mainColor) 20%, transparent 20%), radial-gradient(circle, var(--mainColor) 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.filterTab:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, var(--mainColor) 20%, transparent 20%), radial-gradient(circle, var(--mainColor) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--mainColor) 15%, transparent 20%), radial-gradient(circle, var(--mainColor) 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.filterTab:active {
    transform: scale(0.9);
    background-color: var(--mainColor);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.filterTab.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

.filterTab.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

.tabContent {
    display: none;
}

.tabContent.show {
    display: block;
}

.owlProjects {
    box-shadow: var(--shadow4);
    border-radius: 10px;
}

.project {
    border-radius: 10px;
    padding: 40px;
    background: var(--white);
}

.projectDetails {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.projectImage {
    height: 290px;
    width: 100%;
    max-width: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectImage img {
    max-height: 100%;
}

.projectTags {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.projectTag {
    border-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 15px;
    color: var(--white);
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    transition: all .4s ease-in-out;
}

.appsTag {
    background: var(--blue);
}

.socialTag {
    background: var(--green);
}

.deisgnTag {
    background: var(--mainColor);
}

.webTag {
    background: var(--mainColorDark);
}

.hostTag {
    background: var(--secondColor);
}

.projectTag:hover {
    color: var(--white);
    transform: translateY(-5px);
}

.project h2 {
    font-size: 18px;
    line-height: 31px;
    font-weight: bold;
}

.project p {
    font-size: 14px;
    line-height: 25px;
}

.arrowsBtn {
    color: var(--mainColor);
    display: flex;
    align-items: center;
    width: 155px;
    height: 40px;
    border: 2px solid transparent;
    padding: 0 15px;
    border-radius: 25px;
    justify-self: center;
    align-self: flex-end;
    margin-top: auto;
    font-size: 14px;
}

.arrowsBtn:hover {
    color: var(--secondColor);
    border-top-color: var(--secondColor);
    border-right-color: var(--secondColor);
    border-bottom-color: var(--secondColor);
    border-left-color: var(--secondColor);
    transition: border-top-color 2s linear, border-right-color 2s linear 0.30s, border-bottom-color 1s linear 0.30s, border-left-color 2s linear 0.30s;
}

.arrowsBtn label {
    margin: 0 0 0 10px;
}

.arrowsIcons {
    display: flex;
}

.arrowsBtn i {
    display: block;
    width: 13px;
    font-size: 19px;
    margin: 0 -6px 0 0;
    animation: animate 2s infinite;
}

.arrowsBtn i:first-of-type {
    animation-delay: -0.2s;
}

.arrowsBtn i:last-of-type {
    animation-delay: -0.4s;
}

.owlDots {
    margin-bottom: 50px;
}

.owlDots .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 40px 0 0;
}

.owlDots .owl-dot {
    width: 17px;
    height: 17px;
    background: var(--greyLight);
    border-radius: 50%;
    margin: 0 5px;
    position: relative;
}

.owlDots .owl-dot::before {
    content: '';
    width: 5px;
    height: 5px;
    background: var(--grey);
    position: absolute;
    top: calc(50% - 2.5px);
    left: calc(50% - 2.5px);
    border-radius: 50%;
    display: block;
}

.owlDots .owl-dot:hover,
.owlDots .owl-dot.active {
    background: var(--opacityColor);
}

.owlDots .owl-dot:hover::before,
.owlDots .owl-dot.active::before {
    background: var(--mainColor);
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translate(0);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(-10px);
    }
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||         Ask Question      ||========================*/
/*==========================||---------------------------||========================*/

.askQuestion {
    background: url('../images/bg-questions.png') no-repeat;
    background-size: cover;
    text-align: center;
    color: var(--white);
}

.askQuestion .whiteBtn {
    margin: 50px auto 0;
    width: 150px;
    padding: 15px 30px;
}

.askQuestion h2 {
    font-size: 30px;
    font-weight: bold;
}

/*==========================||---------------------------||========================*/
/*==========================||         Testimonial       ||========================*/
/*==========================||---------------------------||========================*/

.testimonial {
    padding: 100px 0;
    position: relative;
}

.testimonial::before {
    content: url('../images/dotsLeft.png');
    position: absolute;
    top: 50px;
    right: 0;
}

.testimonial::after {
    content: url('../images/dotsRight.png');
    position: absolute;
    left: 0;
    bottom: 50px;
}

.testimonial .row {
    align-items: center;
}

.testimonialData {
    padding: 5px 0 0 0;
    position: relative;
}

.testimonialData h2 {
    font-size: 40px;
    line-height: 70px;
    font-weight: bold;
    color: var(--textDark);
    position: relative;
    margin-bottom: 15px;
}

.testimonialData p {
    font-size: 15px;
    line-height: 30px;
}

.testimonialData::before,
.testimonialData::after {
    content: '';
    background: var(--secondColor);
    height: 5px;
    border-radius: 5px;
    position: absolute;
    top: 0;
}

.testimonialData::before {
    width: 50px;
}

.testimonialData::after {
    width: 15px;
    right: 60px;
}

.testimonialNav .owl-nav {
    justify-content: flex-start;
}

.owlTestimonial .item {
    padding: 45px 15px 15px;
}

.opionion {
    position: relative;
    background: var(--white);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 60px 20px 20px;
}

.opinionAvatar {
    width: 100px;
    height: 100px;
    border: 5px solid var(--white);
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.opinionAvatar img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.opinionHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: var(--border);
    padding: 12px 0 0 0;
}

.opinionHead .data {
    width: calc(100% - 40px);
}

.opinionHead .icon {
    width: 30px;
}

.opinionData {
    min-height: 115px;
}

.opionion p {
    font-size: 14px;
    line-height: 25px;
}

.opionion h2 {
    font-size: 18px;
    line-height: 31px;
    font-weight: bold;
    margin: 0;
}

.opionion .rate {
    font-size: 12px;
}

.opionion .rate .orange {
    color: var(--secondColor);
}

/*==========================||---------------------------||========================*/
/*==========================||           Blogs           ||========================*/
/*==========================||---------------------------||========================*/

.blogs {
    position: relative;
}

.blogs::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--mainColor);
    width: 100%;
    height: 60%;
}

.blogs::after {
    content: url('../images/dotsProjects.png');
    position: absolute;
    bottom: 30px;
    right: -200px;
}

.blogs .container {
    position: relative;
    z-index: 1;
}

.secHeadWhite {
    color: var(--white);
}

.secHeadWhite h2,
.secHeadWhite p {
    color: inherit;
}

.blog {
    background: var(--white);
    box-shadow: var(--shadow);
}

.blogImage {
    height: 250px;
    overflow: hidden;
}

.blogImage img {
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
}

.blogData {
    padding: 20px;
}

.blogData ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-bottom: 8px;
}

.blogData li {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.blogData li:last-of-type {
    margin: 0 25px;
}

.blogData li img {
    margin-left: 10px;
}

.blogData h2 {
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    transition: all .5s ease-in-out;
}

.blogData p {
    font-size: 14px;
    line-height: 24px;
}

.blogArrow {
    color: var(--mainColor);
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.blogArrow label {
    margin: 0;
}

.blogArrow span {
    height: 23px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.blogArrow:hover {
    color: var(--secondColor);
}

.blogArrow:hover i {
    animation: animate 2s infinite;
}

.blog:hover .blogImage img {
    transform: scale(1.3)rotate(4deg);
}

.blog:hover h2 {
    color: var(--mainColor);
}

/*==========================||---------------------------||========================*/
/*==========================||          Contact          ||========================*/
/*==========================||---------------------------||========================*/

.map {
    height: 500px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.contactBox {
    max-width: 900px;
    margin: -150px auto 40px;
    background: var(--white);
    position: relative;
    z-index: 1;
    box-shadow: var(--shadow4);
}

.contactForm {
    padding: 40px 60px 40px 40px;
}

.contactBox h2 {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 20px;
}

.field {
    margin-bottom: 20px;
}

.field label {
    font-size: 15px;
    line-height: 28px;
    font-weight: bold;
    color: var(--text);
}

.form-control {
    box-shadow: var(--shadow5);
    border: var(--border2);
    border-radius: 0px 10px 10px 10px;
    height: 50px;
}

.form-control:focus {
    box-shadow: var(--shadow6);
    border: var(--border3);
}

.form-control::placeholder {
    font-size: 15px;
    color: var(--grey);
}

.field textarea {
    height: 180px;
    resize: none;
}

.contactBox .field {
    margin-bottom: 10px;
}

.contactBox .form-control {
    border-radius: 0;
}

.contact .redBtn {
    width: 130px;
    border-radius: 0;
    position: absolute;
    bottom: 40px;
    left: 35px;
}

.contact .redBtn:hover::before {
    border-radius: 0;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--mainColor);
    height: 100%;
    padding: 40px 30px;
    color: var(--white);
}

.contactInfo p,
.contactInfo a {
    display: flex;
    align-items: center;
    color: inherit;
    line-height: 40px;
    margin: 0;
    font-size: 17px;
}

.contactInfo p i,
.contactInfo a i {
    margin-left: 10px;
}

.contactInfo hr {
    border-top-color: var(--white);
    opacity: 0.2;
}

.social {
    display: flex;
    align-items: center;
}

.social a {
    width: 30px;
    height: 30px;
    display: flex;
    margin-left: 20px;
    font-size: 15px;
    transition: all .4s ease-in-out;
}

.social a:hover {
    transform: translateY(-5px);
}

/*==========================||---------------------------||========================*/
/*==========================||          Sponsors         ||========================*/
/*==========================||---------------------------||========================*/

.subscribeBox {
    width: 600px;
    max-width: 100%;
    position: relative;
    margin: 50px auto 0;
}

.subscribeBox form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscribeBox input {
    height: 50px;
    width: calc(100% - 120px);
    border-radius: 10px;
    border: 0;
    padding: 0 15px;
    font-size: 15px;
}

.subscribeBox .whiteBtn {
    width: 100px;
    margin: 0;
}

/*==========================||---------------------------||========================*/
/*==========================||          Sponsors         ||========================*/
/*==========================||---------------------------||========================*/

.owlSponsors .item {
    padding: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owlSponsors .item img {
    max-width: 100%;
    max-height: 50px;
}

/*==========================||---------------------------||========================*/
/*==========================||          Footer           ||========================*/
/*==========================||---------------------------||========================*/

.footer {
    background: var(--grident);
    padding: 40px 0 20px;
    color: var(--white);
}

.footer .footerLogo {
    margin-bottom: 20px;
}

.footer .footerLogo img {
    max-width: 115px;
}

.footer p {
    line-height: 30px;
    font-size: 13px;
    color: inherit;
}

.footer .social a {
    color: inherit;
    border: 1px solid var(--white);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.footer .social a:hover {
    background: var(--white);
    color: var(--mainColor);
}

.footer ul {
    padding: 0;
    list-style: none;
}

.footerLinks {
    display: flex;
    flex-wrap: wrap;
}

.footerLinks .linksBlock {
    min-width: 50%;
}

.footer h3 {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 15px;
    position: relative;
}

.footer h3::after {
    content: '';
    width: 20px;
    height: 2px;
    position: absolute;
    bottom: -4px;
    background: var(--white);
    right: 0;
}

.footerLinks a {
    line-height: 30px;
    font-size: 13px;
    color: inherit;
    display: block;
    transition: all .4s ease-in-out;
}

.footerLinks a:hover {
    transform: translateX(6px);
}

.footerContact li {
    line-height: 30px;
    font-size: 13px;
}

.footerContact a {
    color: inherit;
}

.footerContact span {
    transition: all .4s ease-in-out;
}

.footerContact a:hover span {
    transform: translateX(6px);
}

.footerContact li i {
    margin-left: 10px;
}

.privacy {
    background: var(--mainColorDark);
    text-align: center;
    padding: 10px 0;
}

.privacy p {
    font-size: 15px;
    line-height: 30px;
    color: var(--white);
    margin: 0;
}


@media screen and (max-width:991px) {
    .footer {
        padding: 50px 0 30px;
        background: var(--greyBg);
    }

    .footer .description p {
        margin-bottom: 20px;
    }
}


/*==========================||---------------------------||========================*/
/*==========================||          Sponsors         ||========================*/
/*==========================||---------------------------||========================*/

/*==========================||---------------------------||========================*/
/*==========================||          Sponsors         ||========================*/
/*==========================||---------------------------||========================*/

/*==========================||---------------------------||========================*/
/*==========================||          Sponsors         ||========================*/
/*==========================||---------------------------||========================*/

/*==========================||---------------------------||========================*/
/*==========================||          Sponsors         ||========================*/
/*==========================||---------------------------||========================*/

/*==========================||---------------------------||========================*/
/*==========================||          Sponsors         ||========================*/
/*==========================||---------------------------||========================*/



/*==========================||---------------------------||========================*/
/*==========================||             En           ||========================*/
/*==========================||---------------------------||========================*/

.en {
    direction: ltr;
    text-align: left;
}

.en {
    direction: rtl;
    text-align: right;
}

.en .owl-carousel {
    direction: ltr;
}

.en .darkBtn i {
    margin: 0 0 0 20px;
    transform: rotate(180deg);
}

.an .darkBtn:hover i {
    transform: translateX(500%);
}

.en .darkBtn:hover span {
    transform: translateX(13px);
}

.en .flexButtons .darkBtn {
    margin: 0 30px 0 0;
}

.en .watchVideo img {
    margin: 0 12px 0 0;
}

.en .serviceIcon::before {
    right: auto;
    left: -15px;
}

.en .serviceFloatImage {
    right: 0;
    left: auto;
}

.en .arrowlink {
    transform: rotate(180deg);
}

.en .testimonialNav .owl-nav,
.en .owlNav .owl-nav {
    flex-direction: row-reverse;
}

.en .filterTab {
    margin: 0 25px 0 0;
}

.en .projectTag {
    margin: 0 15px 0 0;
}

.en .counts .col-6:not(:last-of-type)::after {
    right: -7px;
    left: auto;
}

.en .arrowsBtn i {
    margin: 0 0 0 -6px;
}

.en .arrowsBtn i {
    animation: animateLeft 2s infinite;
}

@keyframes animateLeft {
    0% {
        opacity: 0;
        transform: translate(0);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(10px);
    }
}

.en .testimonialData::after {
    left: 60px;
    right: auto;
}

.en .testimonialNav .owl-nav {
    justify-content: flex-end;
}

.en .blogData li img {
    margin: 0 10px 0 0;
}

.en .contactForm {
    padding: 40px 40px 40px 60px;
}

.en .contact .redBtn {
    right: 35px;
    left: auto;
}

.en .contactInfo p i,
.en .contactInfo a i {
    margin: 0 10px 0 0;
}

.en .social a {
    margin: 0 20px 0 0;
}

.en .footer .social a {
    margin: 0 10px 0 0;
}

.en .footer h3::after {
    left: 0;
    right: auto;
}

.en .footerContact li i {
    margin: 0 10px 0 0;
}

@media (min-width: 1300px) {
    .en .services .container {
        padding: 0 15px 0 10%;
    }
}